.footer-container {
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  color: var(--color-secondary-2);
  margin-top: 1em;
}
.footer-logo-div {
  width: 95%;
  height: 5em;
  border-bottom: 0.5px solid var(--color-secondary-4);
  margin: 0px auto 0px auto;
}
.footer-logo {
  width: 15em;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5em;
}
.footer-links {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto 0px auto;
}
.footer-links-column {
  width: calc(100% / 4.5);
  height: auto;
  min-height: 15em;
  text-align: left;
}
.footer-links-items {
  margin-left: 1em;
  margin-top: 1em;
}
.footer-disclaimer {
  width: 95%;
  height: 5em;
  border-top: 0.5px solid var(--color-secondary-4);
  margin: 0px auto 0px auto;
}
.footer-links-items-title {
  font-family: Montserrat-Medium;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
.footer-links-items-link {
  font-family: Montserrat-Light;
  color: var(--color-secondary-3);
}
.footer-social-links {
  width: 100%;
  display: flex;
}
.footer-social-links i {
  margin-right: 1em;
  font-size: 1.5em;
}
.footer-disclaimer {
  padding: 1em;
  text-align: center;
  height: auto;
  margin-top: 1em;
}
@media only screen and (max-width: 1000px) {
  .footer-container {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links-column {
    width: 90%;
  }
  .footer-links-items {
    margin-left: 2em;
  }
}
