.navbar-container {
  position: relative;
  width: 85%;
  background: #1a191f;
  border-radius: 0px 0px 20px 20px;
  height: 5em;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  width: 10em;
  height: 5em;
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar-items {
  height: 100%;
  width: 100%;
  display: flex;
  color: var(--color-secondary-2);
  justify-content: space-around;
}
.navbar-toggle {
  display: none;
}
.navbar-hamBurger {
  font-size: 2em;
  color: var(--color-secondary-2);
}
.navbar-responsive-item {
  position: fixed;
  background-color: var(--color-primary);
  width: 100%;
  height: calc(100% - 4.9em);
  margin-left: 100vw;
  display: flex;
  color: var(--color-secondary-2);
  flex-direction: column;
  justify-content: space-around;
  font-family: Montserrat-Medium;
}
.navbar-responsive-item-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  cursor: pointer;
}
.navbar-responsive-item-div p {
  margin-right: 0.5em;
  text-transform: capitalize;
}
@media only screen and (max-width:2000px){
    .navbar-container{
        width:80%;
    }
}
@media only screen and (max-width: 1200px) {
  .navbar-container {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .navbar-container {
    width: 100%;
    font-size: 16px;
    border-radius: 0px;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggle {
    display: block;
    margin: 0px 1em 0px 0px;
  }
  .navbar-items {
    display: none;
  }
  .navbar-responsive-item {
    
    margin-left: 60vw;
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar-items {
    display: flex;
  }
}
@media only screen and (max-width: 650px) {
  .navbar-responsive-item {
    margin-left: 50vw;
  }
}
@media only screen and (max-width: 450px) {
  .navbar-responsive-item {
    margin-left: 40vw;
  }
  .navbar-hamBurger {
    font-size: 1.6em;
  }
}
@media only screen and (max-width: 340px) {
  .navbar-responsive-item {
    font-size: 14px;
  }
  .navbar-logo {
    width: 8.2em;
    height: 100%;
  }
  .navbar-hamBurger {
    font-size: 1.6em;
  }
}
